@inject HttpClient _client
<EditForm Model="@Vehicle" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        @if (Disabled)
        {
            <div class="form-group">
                <label>Image (Optional):</label>
                <div>
                   <img src="@Vehicle.ImageName" class="img-thumbnail" style="width:150px; height:150px" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>Image (Optional):</label>
                <div>
                    <InputFile OnChange="HandleFileSelection" />
                    <p class="text-danger">@_uploadFileWarning</p>
                </div>
            </div>
        }

        <div class="form-group">
            <label>Make: </label>
            <div>
                <select @bind="Vehicle.MakeId" class="form-control">
                    <option value="">-- Select Make --</option>
                    @if (_makes != null)
                    {
                        foreach (var make in _makes)
                        {
                            <option value="@make.Id">@make.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Vehicle.MakeId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Model: </label>
            <div>
                <InputSelect @bind-Value="Vehicle.ModelId" class="form-control">
                    <option value="">-- Select Model --</option>
                    @if (_models != null)
                    {
                        foreach (var model in _models)
                        {
                            <option value="@model.Id">@model.Name</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Vehicle.ModelId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Colour: </label>
            <div>
                <select @bind="Vehicle.ColourId" class="form-control">
                    <option value="">-- Select Colour --</option>
                    @if (_colours != null)
                    {
                        foreach (var colour in _colours)
                        {
                            <option value="@colour.Id">@colour.Name</option>
                        }
                    }
                </select>
                <ValidationMessage For="@(() => Vehicle.ColourId)" />
            </div>
        </div>
        <div class="form-group">
            <label>Year:</label>
            <div>
                <InputNumber @bind-Value="@Vehicle.Year" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.Year)" />
            </div>
        </div>
        <div class="form-group">
            <label>License Plate Number:</label>
            <div>
                <InputText @bind-Value="@Vehicle.LicensePlateNumber" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.LicensePlateNumber)" />
            </div>
        </div>
        <div class="form-group">
            <label>Vehicle Identification Number:</label>
            <div>
                <InputText @bind-Value="@Vehicle.Vin" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.Vin)" />
            </div>
        </div>
        <div class="form-group">
            <label>Daily Rate:</label>
            <div>
                <InputNumber @bind-Value="@Vehicle.RentalRate" class="form-control" />
                <ValidationMessage For="@(() => Vehicle.RentalRate)" />
            </div>
        </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="vehicles" />
</EditForm>


@code {
    
}
